.ScreenThree {
    padding: 20px;
    margin-bottom: 100px;
}

.ScreenThree h3 {
    font-size: 25px;
    margin: 0px
}

.ScreenThree p {
    font-size: 18px;
    line-height: 25px
}

.ScreenThree .btn-active {
    height: 28px;
    padding: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    background-color: darkgreen;
    color: white;
    line-height: 0px;
    display: block;
}

.ScreenThree .btn {
    height: 28px;
    padding: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    background-color: white;
    color: darkgreen;
    line-height: 0px;
    display: block;
}