.ScreenSeven {
    padding: 20px;
    margin-bottom: 100px;
}

.ScreenSeven h3 {
    font-size: 25px;
    margin: 0px
}

.ScreenSeven p {
    font-size: 18px;
    line-height: 25px
}

.ScreenSeven img {
    width: 80%;
    margin-left: 10%;

}

.ScreenSeven button {
    background-color: darkgreen;
    color: white;
    font-size: 18px;
    padding: 11px;
    margin-top: 10px;
    text-align: center;
}