.ScreenFour {
    padding: 20px;
    margin-bottom: 100px
}

.ScreenFour h3 {
    font-size: 25px;
    margin: 0px
}

.ScreenFour p {
    font-size: 18px;
    line-height: 25px
}

.ScreenFour .button_container {
    display: flex;
}

.ScreenFour .btn {
    background-color: darkgreen;
    color: white;
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
    height: 120px;
    text-align: center
}

.ScreenFour .btn-two {
    margin-right: 5px;
}

.ScreenFour .btn-diabled {
    background-color: #4da24d;
}