.ScreenTwo {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 100px;
}

.ScreenTwo button {
    background-color: darkgreen;
    color: white;
    font-size: 18px;
    padding: 11px;
    margin-top: 10px;
    text-align: center;
}